h1, p {
  font-family: Lato;
}
.app{
  text-align:center;
  max-width:350px;
  margin:auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:10px 10px;
}

.app .header h3{
  display:flex;
  justify-content: center;
  align-items: center;
}

.app .header img{
  margin-right:15px;
  height:55px;
}
.app h5{
  text-align:left;
  box-shadow: 2px 3px 13px rgba(0,0,0,.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 10px;
  transition:all .2s ease;
}
.app h5:hover{
 border-left: 9px solid #028130;
}

.app h5:hover .x-delete{
  opacity:1;
}

.x-delete{
  opacity:0;
  transition:all .4s ease;
  background:#c00c1c;
  border-radius:25px;
  color:#fff;
  padding:5px 10px;
  cursor:pointer;
}

.todo{
  border-left: 5px solid #028130;
}

.form{
  display:flex;
  justify-content: space-between;
}
.form input{
  width:70%;
  padding:10px;
  border:1px solid #d2d1cd;
  outline:none;
}
.form button{
  padding:10px;
  border:1px solid #d2d1cd;
  box-shadow:2px 3px 13px rgba(0,0,0,0.1);
  background:#fff;
  outline:none;
  transition:all .4s ease;
  cursor: pointer;
}
.form button:hover{
  background:#016ab4;
  color:#fff;
}

.btn-orderTodos{
  margin-top:10px;
  width:100%;
  padding:10px;
  border:1px solid #d4d4d4;
  box-shadow:2px 3px 13px rgba(0,0,0,0.1);
  background:#eeefef;
  outline:none;
  transition:all .4s ease;
  cursor: pointer;
}

.btn-orderTodos:hover{
  background:#7695ab;
  color:#fff;
}

